.env
.env.example
.gitignore
LICENSE
README.md
CONTRIBUTING.md
env
data
backups
media
static
core/__pycache__
core/compressor/__pycache__
api/__pycache__
api/migrations
api/management/commands/__pycache__
script/gunicorn/__pycache__
install.sh
install.bat